### Estimando el efecto del consumo calórico en el tiempo

Nombre: Axel Quiroga


ID: A00832676

Materia: Matemáticas y ciencias de datos para la toma de decisiones


Profesor:  Ivan Martínez Ruiz y Germán Domínguez Solís


Fecha: 11/20/2021


Link: https://colab.research.google.com/drive/1aL73lO5zdJBrwZwwRz11luaeay6P_xZD?usp=sharing

Cargando datos

In [ ]:
import pandas as pd

datos_consumo = pd.read_excel('datos.xlsx')

In [ ]:
datos_consumo.head()

  Fecha (dd/mm/aa)   Momento  ... Proteína (g)  Sodio (mg)
0       16/08/2021  Desayuno  ...        21.00       260.0
1       16/08/2021     Snack  ...         5.04       299.0
2       16/08/2021   Comida   ...        23.35       400.0
3       16/08/2021   Comida   ...         9.50       409.0
4       16/08/2021   Comida   ...         0.63        14.0

[5 rows x 8 columns]

Seleccionando los datos que necesitamos

In [ ]:
datos_Fecha_kal = datos_consumo[["Fecha (dd/mm/aa)", "Calorías (kcal)"]]

In [ ]:
datos_Fecha_kal.head()

  Fecha (dd/mm/aa)  Calorías (kcal)
0       16/08/2021               93
1       16/08/2021              340
2       16/08/2021              276
3       16/08/2021              171
4       16/08/2021               12

In [ ]:
sumatoria_calorias = datos_Fecha_kal["Calorías (kcal)"].sum()
sumatoria_calorias

63036

In [ ]:
dias = datos_Fecha_kal["Fecha (dd/mm/aa)"].nunique()
dias

61

In [ ]:
calorias_promedio = sumatoria_calorias/dias
print(f"Tu promedio de calorías consumidas en días es: {round(calorias_promedio,2)}")

Tu promedio de calorías consumidas en días es: 1033.38

Inputs

In [ ]:
peso = int(input("Ingrese su peso en kilogramos: "))

altura = int(input("Ingrese su altura en centimetros: "))

edad = int(input("Ingrese su edad en años: "))

genero = input("Ingrese su género, Mujer/Hombre: ")

Ingrese su peso en kilogramos: 72
Ingrese su altura en centimetros: 174
Ingrese su edad en años: 17
Ingrese su género, Mujer/Hombre: Hombre

In [ ]:
while True:
  if genero == "Mujer":
    calorias_requeridas =  655+(9.56*peso)+(1.85*altura)-(4.68*edad)
    break

  elif genero == "Hombre":
    calorías_requeridas = 66.5+(13.75*peso)+(5*altura)-(6.8*edad)
    break

  else:
    print('Ingrese nuevamente el genero')
    genero = input("Ingrese su género, Mujer/Hombre: ")
    continue

print(f"En base a tus datos, las calorias requeridas por dia son: {calorías_requeridas} caloriass")

En base a tus datos, las calorias requeridas por dia son: 1810.9 caloriass

In [ ]:
diferencia = calorias_promedio - calorías_requeridas
diferencia

-777.5229508196721

Aproximacion

In [ ]:
efecto_anual = diferencia * 450/3500 * 365 /1000

print(f"Si continuas con tu consumo calorico actual, en un año tu cambio de masa corporal seria aproximadmente de {round(efecto_anual, 2)} kg")

Si continuas con tu consumo calorico actual, en un año tu cambio de masa corporal seria aproximadmente de -36.49 kg